fieldset {
    border: none;
}
fieldset.for-radio {
    justify-content: center;
}
span.radio-container {
    background-color: var(--secondary-a);
    border: 1px solid var(--ternary);
    border-radius: 5px;
    padding: 5px;
    margin: 2px 5px;
}

input[type=text],
select {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: var(--secondary-a);
    border: none;
    border-bottom: 2px solid var(--secondary);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    width: -webkit-fill-available;
}
input[type=checkbox] {
    margin: 0 15px;
}

.person-details {
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 1em;
}

@media (min-width: 600px) {
    input, select, li {
        max-width: 50%;
    }
    fieldset.row input, fieldset.row select {
        max-width: 45% !important;
    }
}