@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #fff9ef;
    --secondary: #efc573;
    --secondary-a: #efc57324;
    --ternary: #c4391d;
    --ternary-a: #c4391d24;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: var(--primary);
    color: var(--ternary);
    text-align: center;
}

main {
    padding: 1em;
}

section {
    margin: 2em 0;
    padding: 1em;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2 {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 3em;
    margin: 0.5em;
}

h2 {
    font-size: 2em;
    margin: 0.5em;
}

.greater {
    font-size: 5em;
}

.comment {
    font-size: 0.75em;
    font-style: italic;
}

fieldset {
    border: none;
}

input[type=text],
select {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: var(--secondary-a);
    border: none;
    border-bottom: 2px solid var(--secondary);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    width: -webkit-fill-available;
}
input[type=checkbox] {
    margin: 0 15px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin: 5px 0;
    background-color: var(--secondary-a);
    border-radius: 5px;
    border-left: solid 2px var(--secondary);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

button {
    background-color: var(--ternary);
    color: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
}

.error {
    background-color: var(--ternary-a);
    color: var(--ternary);
    border-left: solid 2px var(--ternary);
    border-radius: 5px;
    padding: 0.5em;
}

.bordered {
    border: 5px double var(--secondary);
    padding: 1em;
}

.top-border {
    border-top: 5px double var(--secondary);
    padding: 1em;
}

.top-margin-5vh {
    margin-top: 5vh;
}

.no-padding {
    padding: 0 !important;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    width: 20px;
    height: 20px;
    border-top: 2px solid var(--secondary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.person-details {
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 1em;
}

.parent {
    position: relative;
}
.partent section {
    margin: 0;
}

.corner-top-left,
.corner-top-right,
.corner-bottom-left,
.corner-bottom-right {
    position: absolute;
    width: 15px;
    height: 35px;
}
.corner-top-left-alt,
.corner-top-right-alt,
.corner-bottom-left-alt,
.corner-bottom-right-alt {
    position: absolute;
    width: 35px;
    height: 15px;
}

.corner-top-left, .corner-top-left-alt {
    top: 0;
    left: 0;
}

.corner-top-right, .corner-top-right-alt {
    top: 0;
    right: 0;
}

.corner-bottom-left, .corner-bottom-left-alt {
    bottom: 0;
    left: 0;
}

.corner-bottom-right, .corner-bottom-right-alt {
    bottom: 0;
    right: 0;
}


@media (min-width: 600px) {
    /* desktop styles */
}