@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

:root {
    --primary: #fff9ef;
    --secondary: #efc573;
    --secondary-a: #efc57324;
    --ternary: #c4391d;
    --ternary-a: #c4391d24;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: var(--primary);
    color: var(--ternary);
    text-align: center;
}

main {
    padding: 1em;
    overflow: hidden;
}

section {
    margin: 2em 0;
    padding: 1em;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
section:first-of-type {
    height: 90vh;
}
article {
    padding: 2em !important;
    position: relative;
}

h1, h2, h3, p {
    position: relative;
    z-index: 5;
}
h1, h2, .italiana {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1, .bigger {
    font-size: 3em;
    margin: 0.5em;
}
h2, .big {
    font-size: 2em;
    margin: 0.5em;
}

.chinese {
    position: absolute;
    font-family: 'Ma Shan Zheng', sans-serif;
    color: #f6e8d4;
    p { margin: 0; }
}
section .chinese {
    z-index: -1 !important;
    p { z-index: -1 !important; }
}
article .chinese {
    z-index: 0 !important;
    p { z-index: 0 !important; }
}

.chinese-bg-left {
    font-size: 10vh;
    top: 7vh;
    left: 0;
    width: 100%;
    text-align: left;
}
.chinese-bg-right {
    font-size: 10vh;
    /* position: absolute; */
    top: 6.5vh;
    right: 0;
    text-align: right;
    width: 100%;
}
.greater {
    font-size: 5em;
}
.greater-chinese { 
    font-size: 45vh;
    letter-spacing: -0.6em;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 3vh;
}
.comment {
    font-size: 0.75em;
    font-style: italic;
}

fieldset {
    border: none;
}
input[type=text],
select {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: var(--secondary-a);
    border: none;
    border-bottom: 2px solid var(--secondary);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    width: -webkit-fill-available;
}
input[type=checkbox] {
    margin: 0 15px;
}

ul {
    padding: 0 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
li {
    width: 100%;
    list-style-type: none;
    margin: 5px 0;
    background-color: var(--secondary-a);
    border-radius: 5px;
    border-left: solid 2px var(--secondary);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

button {
    background-color: var(--ternary);
    color: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
}

.error {
    background-color: var(--ternary-a);
    color: var(--ternary);
    border-left: solid 2px var(--ternary);
    border-radius: 5px;
    padding: 0.5em;
}

.opaque {
    background-color: var(--primary);
}
.bordered {
    border: 5px double var(--secondary);
    padding: 1em;
}
.top-border {
    border-top: 5px double var(--secondary);
    padding: 1em;
}

.top-margin-5vh {
    margin-top: 5vh;
}
.no-padding {
    padding: 0 !important;
}
.no-padding-side {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-margin-side {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    width: 20px;
    height: 20px;
    border-top: 2px solid var(--secondary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.person-details {
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 1em;
}

.parent {
    position: relative;
}

.corner-top-left,
.corner-top-right,
.corner-bottom-left,
.corner-bottom-right {
    position: absolute;
    width: 15px;
    height: 35px;
}
.corner-top-left-alt,
.corner-top-right-alt,
.corner-bottom-left-alt,
.corner-bottom-right-alt {
    position: absolute;
    width: 35px;
    height: 15px;
}

.corner-top-left, .corner-top-left-alt {
    top: 0;
    left: 0;
}

.corner-top-right, .corner-top-right-alt {
    top: 0;
    right: 0;
}

.corner-bottom-left, .corner-bottom-left-alt {
    bottom: 0;
    left: 0;
}

.corner-bottom-right, .corner-bottom-right-alt {
    bottom: 0;
    right: 0;
}

img.peony-m {
    position: absolute;
    right: -28vw;
    rotate: 210deg;
    top: -80vh;
    width: 120%;
}
img.plum-m {
    position: absolute;
    width: 161%;
    rotate: 10deg;
    left: -32vw;
    bottom: -20vh;
}
img.peony-s {
    position: absolute;
    right: -28vw;
    rotate: 210deg;
    top: -90vh;
    width: 97%;
}
img.plum-s {
    position: absolute;
    width: 127%;
    rotate: 30deg;
    left: -45vw;
    bottom: -35vh;
}


@media (min-width: 600px) {
    input, select, li {
        max-width: 50%;
    }

    .chinese-bg-left {
        font-size: 10vh;
        position: absolute;
        top: 7vh;
        left: 20vw;
        width: 100%;
        text-align: left;
    }
    .chinese-bg-right {
        font-size: 10vh;
        position: absolute;
        top: 6.5vh;
        right: 20vw;
        text-align: right;
        width: 100%;
    }

    img.peony-s {
        width: 30%;
        right: -7vw;
        top: -74vh;
    }
    img.plum-s {
        width: 53%;
        left: -17vw;
        bottom: -49vh;
    }
}